.pagination-content {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.pagination-content .page {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pagination-content .active {
    background-color: var(--blue);
    color: #fff;
}

.pagination-content .page:hover {
    color: #fff;
    background-color: var(--blue);
}

.pagination-content span {
    font-size: 18px;
}