.house-box {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.house-box .image-house-box {
    position: relative;
}

.house-box .image-house-box img {
    width: 100%;
    height: 250px;
}

.house-box .title-house-box,
.house-box .info-house-box {
    border-bottom: 1px solid var(--white-50);
}

.house-box .title-house-box h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    padding-left: 10px;
}

.house-box .info-house-box .col-3 span {
    font-size: 12px;
    margin-bottom: 5px;
}

.house-box .info-house-box .col-3 .count {
    font-size: 15px;
}

.house-box .info-house-box .col-3 .count .icon {
    color: var(--blue);
    margin-right: 4px;
}

.house-box .footer-house-box .btn {
    background-color: var(--blue);
    color: var(--white-50);
    font-size: 17px;
}

.house-box .footer-house-box p {
    margin-bottom: 0;
    text-align: left;
    font-size: 15px;
}

.house-box .footer-house-box p:first-child {
    color: var(--blue-main);
}

.con-like {
    --red: rgb(255, 50, 50);
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    left: 10px;
}

.con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-like .outline,
.con-like .filled {
    fill: var(--red);
    position: absolute;
}

.con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
}

.con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
}

.con-like .poly {
    stroke: var(--red);
    fill: var(--red);
}

.con-like .like:checked~.checkmark .filled {
    display: block
}

.con-like .like:checked~.checkmark .celebrate {
    display: block
}

@keyframes kfr-filled {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes kfr-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
        display: none;
    }
}